.carouselWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.carouselSlide {
  flex: 0 0 auto;
  transition: all 0.5s ease;
}

.carouselSlide .active {
  opacity: initial;
}

.carouselSlides {
  display: flex;
  transition: all 0.5s ease;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navButton {
  font-size: 2em;
  padding: 0 0.5em;
  border: 0.01em solid #a9a9a9;
  border-radius: 0.5em;
}
